/*------------------------------------------------------------------------------------------*/
body{
    margin: 0px;
}
header{
    height: 90px;
    background-color: rgb(62, 105, 190);
    font-family: Roboto , Arial;
    color: white;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
p{
    margin-top: 125px;
    font-family: Roboto, Arial;  
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-shrink: none;
    background-color: rgb(209, 220, 229);
    height: 450px;
    margin: 10px;
}
/*------------------------------------------------------------------------------------------*/